button {
  font-size: 2.5rem;
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.calculator {
  text-align: center;
}

.calculator-keys {
  text-align: center;
}

.input-screen {
  font-size: 6rem;
  color: #b3b3b3;
  background-color: black;
  height: 100px;
  width: 450px;
  margin-bottom: 15px;
  border-radius: 10px 10px 10px 10px;
  text-align: right;
}

.operator {
  background-color: #9ec8ff;
  border: 1px #9ec8ff;
}

.operator:hover {
  background-color: #78b0fa;
  cursor: pointer;
}

.operator:active {
  transform: translateY(3px);
}

.numbers {
  border: 1px;
}

.numbers:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.numbers:active {
  transform: translateY(3px);
}

.decimal {
  border: 1px;
}

.decimal:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.decimal:active {
  transform: translateY(3px);
}

.all-clear {
  background-color: #fa9e34;
  height: 80px;
  width: 450px;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 10px;
}

.all-clear:hover {
  background-color: #ed9026;
  cursor: pointer;
}

.all-clear:active {
  transform: translateY(3px);
}

#equal {
  background-color: #ebebeb !important ;
}

#equal:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

#credit {
  margin-top: 300px;
  text-align: right;
}

/*#add {
  margin-right: 10px;
}

#subtract {
  margin-right: 10px;
}

#multiply {
  margin-right: 10px;
}

#divide {
}

#seven {
  margin-right: 10px;
}
*/
